@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  font-size: 32px;
}

@layer utilities {
  .bg-theme {
    @apply bg-slate-200 dark:bg-slate-900;
  }

  .text-theme {
    @apply text-slate-900 dark:text-slate-200;
  }
}
