@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

figcaption {
  font-family: "Rubik", sans-serif;
}

@layer utilities {
  .bg-theme {
    @apply bg-slate-200 dark:bg-slate-900;
  }

  .text-theme {
    @apply text-slate-900 dark:text-slate-200;
  }

  body {
    overflow: overlay;
    max-width: 100vw;
    @apply bg-theme text-theme transition-colors duration-200 overflow-x-hidden;
  }

  b {
    @apply text-rose-900 dark:text-rose-300;
  }
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: crimson;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 62, 101);
}

.input {
  position: relative;
  z-index: 0;
  font-size: 1.2rem;
  width: 100%;
}

.input input,
.input textarea {
  font-size: inherit;
  background-color: transparent;
  line-height: 1.5em;
  outline: none;
  border: none;
  border-bottom: solid 1px rgba(240, 255, 240, 0.75);
  color: honeydew;
  width: 100%;
  padding-bottom: 0.5rem;
}

.input::after {
  position: absolute;
  content: attr(data-placeholder);
  z-index: -1;
  top: 0;
  left: 0;
  font-size: inherit;
  color: honeydew;
  -webkit-transition: -webkit-transform 250ms;
  transition: -webkit-transform 250ms;
  transition: transform 250ms;
  transition: transform 250ms, -webkit-transform 250ms;
  -webkit-transform: scale(1) translateY(0);
  transform: scale(1) translateY(0);
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

.input[focus-within]:after,
.input.active::after {
  -webkit-transform: scale(0.55) translateY(-1em);
  transform: scale(0.55) translateY(-1em);
}

.input:focus-within:after,
.input.active::after {
  -webkit-transform: scale(0.55) translateY(-1em);
  transform: scale(0.55) translateY(-1em);
}

@media screen and (min-width: 1025px) {
  .input {
    font-size: 1.7rem;
  }
}
